.picture-container {
  display: flex;
  width: 99%;

  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.picture-container img{
  border: 2px solid black;
}

.main-pic {
  width: 50%;
}

.thumbnail-container img {
  width: 100%;
}

.spot-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'img1 img2'
    'img3 im4'
  ;

}

.reserve-box {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.reserve-box button {
  width: 75%;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.details-hr {
  border-top: 2px solid black
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
