.booking-container {
  outline: 1px solid red;
  width: 500px;
  padding: 10px;
}

.booking-outer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.booking-title {
  text-align: center;
}
