

.hide {
  color: rgb(216, 216, 216);
}

textarea {
  height: 10rem;
  font-size: 1.1rem;
}

.new-spot-form {
  border: 2px solid black;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px 10px 10px;
  background-color: rgb(216, 216, 216);
}

.form-submit {
  height: 35px;
  border: 2px solid black;
  border-radius: 10px;
  width: 30%;
  align-self: center;
}

.form-submit:hover {
  background-color: black;
  color: white
}

.form-container {
  display: flex;
  justify-content: center;
}

.rating-input {
  display: flex;
  align-items: center;
}

.rating-input .filled {
  color: rgb(243, 243, 24);
}

.rating-input .empty {
  color: grey
}

.rating-input span {
  font-size: 2rem;
  padding: 10px;
}

.rating-input label {
  font-size: 1.5rem;
}

.price-input {
  width: 95%;
}

.lat-lng-container {
  display: flex;
  gap: 3%;
}

.city-state {
  display: flex;
  gap: 3%
}
