.text-area {
  width: 400px;
  height: 250px;
  border-radius: 5px;
}

.review-button {
  height: 50px;
  border-radius: 15px;
}

.review-button:disabled:hover {
  color: black;
  background-color: grey;
  cursor: not-allowed
}

.rating {
  font-size: 1.5rem;
  padding: .5rem;
}
