.delete-container{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.delete-container h2 {
  margin: 5px
}

.delete-container p {
  text-align: center;
}

.delete-container button {
  margin: 5px;
  height: 30px;
  width: 95%;
  border: 2px solid black;
  border-radius: 10px;
}

.yes-button {
  background-color: 	#ba3c3c;
}
