/* TODO: Add sitewide styles */

.modal-container {
  height: 500px;
  width: 500px;
  flex-direction: column;
}

.sign-up-form {
  width: 300px;
  height: 495px;
}


.login-modal {
  width: 300px;
  height: 330px;
}

.sign-up-form h1 {
  margin-top: 15px;
  margin-bottom: 5px;
}



.modal-container form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.demo-login:hover {
  cursor: pointer
}

.modal-container button {
  height: 30px;
  border-radius: 10px;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border-radius: 3px;
  margin: 2px
}

textarea {
  border-radius: 3px;
  border: 2px solid black;
  margin: 2px
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

button:hover:disabled {
   cursor: not-allowed;
   background-color: grey;
}

label {
  font-size: 1.2rem
}

input {
  font-size: 1.2rem;
}

.modal-button {
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

.button-box {
  display: flex;
  gap: 25px
}

button {
  border-radius: 10px;
  border: 2px solid black;
}
.errors {
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

.sign-up-form .errors {
  width: 90%;
}
