.spot-card {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  width: 100%;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.spot-card-image {
  width: 450px;
  height: 450px;
}

.spot-card:hover {
  outline: 2px solid lightgrey;
  border-radius: 15px;
}


.spot-card div {
  color: black;
}

.star {
  color: black
}

.spot-card span {
  color:black;
  display: none;
  position: absolute;
  border-radius: 10px;
  font-size: larger;
  padding: 10px;
  background-color: grey;
}

.spot-card:hover span {
  display: block;
}

.spot-card-image{
  border-radius: 10px;
}

.state-stars{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.price {
  padding-left: 10px
}

.update-delete {
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
}

.create-spot {
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px
}

.button-box {
  margin-bottom: 5px;
}
