.spot-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-decoration: none;
  margin-bottom: 10px;
}

.spot-card-image{
  border-radius: 15px;
}

.state-stars{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.price {
  padding-left: 10px
}
