.hidden {
  display: none
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
  padding-left: none;
  font-size: 25px;
  background-color: grey;

  /* position: fixed;
  width: 100%;
  top: 0; */
}


.logo {
  width: 70px;
  border-radius: 15px;
  
}

.user-toggle {
  font-size: 25px;
  margin-right: 50px;
}

.user-toggle:hover {
  cursor: pointer;
}

.drop-down {
  position: absolute;
  top: 65px;
  right: 65px;
  border: 5px solid black;
  list-style: none;
}

.drop-down:hover {
  cursor: pointer;
}
