.hidden {
  display: none
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  list-style: none;
  padding-left: none;
  font-size: 25px;
  background-color: grey;
  margin: 0 0 0 0;
  border-radius: 15px;
}

.logo-container a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
  border-radius: 15px;
}

.logo {
  width: 70px;
  border-radius: 15px;
}

.user-toggle {
  font-size: 25px;
  margin-right: 50px;
  border-radius: 15px;
}

.user-toggle:hover {
  cursor: pointer;

}

#create {
  padding-right: 20px;
}

.right-nav {
  display: flex;
}

/* .drop-down {
  position: absolute;
  top: 65px;
  right: 65px;
  border: 5px solid black;
  list-style: none;
  background-color: lightgray;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
} */


.drop-down:hover {
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 65px;
  right: 65px;
  border: 5px solid black;
  list-style: none;
  background-color: lightgray;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}
