.demo-login {
  display: flex;
  margin-top: 10px;
  height: 25px;
  align-items: center;
  padding: 5px;
  font-size: 1.1rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgrey;
}

.submit-login {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 83%;

}

.demo-login:hover{
  background-color: black;
  color: white;
}
